// HELPERS

@import 'bootstrap/normalize'
@import 'bootstrap/mixins'
@import "bootstrap/variables"
@import "bootstrap/close"
@import "bootstrap/component-animations"
// @import "bootstrap/fade"
@import "bootstrap/modals"


// @import 'animate-stylus/fading_entrances/fadeIn'

// @import 'helpers/reset'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/sprites'
@import 'helpers/slick'
@import 'helpers/fancybox'
@import 'base'

// LAYOUT

@import 'header'
@import 'footer'
@import 'content'
